@import "compass/reset";
@import "compass/css3";
@import "base";

html, body {
  background-color: #000;
  color: #444;
  font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em; 
}

a {
  color: #0087ff;
  text-decoration: none;

  &:hover { text-decoration: underline; }
}

.poster {
  margin: 0 auto;
  position: relative;
  width: 1008px;

  .previous, .next {
    @include opacity(0.5);

    position: absolute;
    top: 0;
    bottom: 0;
    width: 25%;

    &:hover { @include opacity(1); }

    a {
      padding: 1em;
      position: absolute;
      top: 40%;
    }
  }

  .previous {
    left: 0;

    a { left: -1em; }
  }
  .next {
    right: 0;

    a { right: 0; }
  }
}

.sosumi {
  display: block;
  font-size: 0.8em;
  text-align: center;
}

/* Print styles, inlined to avoid required HTTP connection */
@import "print";
