<article class="poster">
  <img src="<%= @poster.path %>" alt="<%= @poster.title%>" >
  <nav>
    <ul>
      <li class="previous"><%= link_to_poster @poster.previous, 'Previous' %></li>
      <li class="next"><%= link_to_poster @poster.next, 'Next' %></li>
    </ul>
  </nav>
</article>
