<article class="poster">
  <img src="<%= @poster.path %>" alt="<%= @poster.title %>" >
  <nav>
    <ul>
      <li><%= link_to_poster @poster.previous, '⇤ Previous', :class => 'previous' %></li>
      <li><%= link_to_poster @poster.next, 'Next ⇥ ', :class => 'next' %></li>
    </ul>
  </nav>
</article>
