@import 'variables';
@import 'normalize';
@import 'font-awesome/font-awesome';
@import 'bourbon/bourbon';
@import 'print';
@import 'github';

html, body {
  background-color: #000;
  color: #444;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

a {
  color: desaturate($blueish, 75%);
  text-decoration: none;

  &:hover {
    color: $blueish;
    text-decoration: underline;
  }
}

.poster {
  margin: 0 auto;
  min-height: 750px;
  position: relative;
  width: 1008px;

  img { margin-top: -2.5em; }

  .previous, .next {
    padding: 10em 1em;
    position: absolute;
    top: 20%;
    width: 45%;
  }

  .previous {
    left: -1em;
    text-align: left;

    i { margin-right: 0.25em; }
  }
  .next {
    right: 0;
    text-align: right;

    i { margin-left: 0.25em; }
  }

  i {
    font-size: 1.3em;
  }
}

nav {
 li {
  list-style: none;
 }
}

.sosumi {
  display: block;
  margin-bottom: 0.5em;
  text-align: center;

  i {
    font-size: 1.5em;
    font-style: normal;
    vertical-align: text-bottom;
  }
}

